* {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%)
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

main {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark-cyan);
}

main>img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

main>img:first-of-type {
  top: -10%;
  left: -50%;
  opacity: 0.5;
}

main>img:last-of-type {
  bottom: -10%;
  right: -40%;
}

@media (min-width: 768px) {
  main>img:first-of-type {
    top: -50%;
    left: -5%;
  }

  main>img:last-of-type {
    bottom: -50%;
    right: -5%;
  }

}

.card {
  max-width: 330px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  z-index: 100;
}

.card .card .pattern img {
  max-width: 100%;
}

.card .info {
  text-align: center;
  padding-bottom: 30px;
}

.card .info img {
  width: 106px;
  height: 106px;
  transform: translateY(-50%);
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: -53px;
  border: 5px solid white;
}

.card .info h2 {
  margin: 20px 5px 0px 0px;
  display: inline-block;
}

.card .info .age {
  font-size: 20px;
  color: var(--dark-gray);
}

.card .info .location {
  display: block;
  margin-top: 10px;
  color: var(--dark-gray);
}

.card .stats {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f6f6f6;
}

.card .stats span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card .stats span span {
  margin-top: 10px;
  display: block;
  font-weight: normal;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: var(--dark-gray);
}